<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MIfahrzentrale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div>
        <article th:insert="~{fragments/kopffuss :: kopf}"></article>
    </div>

    <div class="border">
        
        <h1 th:if="${tourID} == 0">Neue Tour...</h1>
        <h1 th:if="${tourID gt 0 && tourID != null}" th:text="#{tourformular.titel(${tourID})}">Tour <span th:text="${tourID}"></span> bearbeiten...</h1>

        <form th:action="@{#}" th:object="${tourForm}" method="post">

            <input type="hidden" id="tourID" name="tourID" th:value="${tourID}">

            <label th:text="#{tour.anbieter}" for="anbieter">Anbieter</label>
            <select name="anbieter" id="anbieter" th:field="*{anbieter}">
                <option th:each="benutzer : ${benutzerList}" th:value="${benutzer.id}" th:text="${benutzer.name}"></option>
            </select>
                
            <label th:text="#{tour.abfahrdatetime}" for="abfahrdatetime">Abfahrtzeitpunkt</label>
            <input type="datetime-local" id="abfahrDateTime" name="abfahrDateTime" th:field="*{abfahrDateTime}" th:errorclass = "err">
            
            <label th:text="#{tour.preis}" for="preis">Preis</label>
            <input type="text" id="preis" name="preis" th:field="*{preis}" th:errorclass = "err">
            <p th:if="${#fields.hasErrors('preis')}" th:errors="*{preis}">preis falsch</p>
            
            <label th:text="#{tour.plaetze}" for="plaetze">Plätze</label>
            <input type="text" id="plaetze" name="plaetze" th:field="*{plaetze}" th:errorclass = "err">
            <p th:if="${#fields.hasErrors('plaetze')}" th:errors="*{plaetze}">plaetze falsch</p>

            <div class="wrapper">
                <div class="form-row">

                    <label th:text="#{tour.startort}" for="startOrt">Standort</label><br>
                    <select name="startOrt" id="startOrt" th:field="*{startOrt}">
                        <option th:each="ort : ${ortList}" th:value="${ort.id}" th:text="${ort.name}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('startOrt')}" th:errors="*{startOrt}">standort falsch</p>

                </div>
                <div >

                    <label th:text="#{tour.zielort}" for="zielOrt">Zielort</label><br>
                    <select name="zielOrt" id="zielOrt" th:field="*{zielOrt}">
                        <option th:each="ort : ${ortList}" th:value="${ort.id}" th:text="${ort.name}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('zielOrt')}" th:errors="*{zielOrt}">zielort falsch</p>

                </div>
            </div>

            <label th:text="#{tour.fahrgastinfos}" for="info">Info</label>
            <input type="text" id="info" name="info" th:field="*{info}" th:errorclass = "err">
            <p th:if="${#fields.hasErrors('info')}" th:errors="*{info}">info überschreitet laenge</p>

            <input class="submit" type="submit" value="Ok">

        </form>
    </div>

    
    <div>
        <article th:insert="~{fragments/kopffuss :: fuss}"></article>
    </div>
</body>
</html>