body, html {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.border{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px auto;
  width: 80%; /* Anpassen der Breite nach Bedarf */
  height: 80%; /* Anpassen der Höhe nach Bedarf */
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px
}

div {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
label {
  margin-bottom: 5px;
}
input {
  padding: 8px 5px;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 10px;
  border-color: lightgray;
  max-width: calc(100% - 20px);
}
input:focus{
  border-color: darkgray;
  outline: none;
}

.hUsr {
  float: left;
  font-size: 32px;
  font-weight: bold;
}
.header{
  padding: 20px;
  background: aquamarine;
  font-size: 32px;
  text-align: right;
}
.header a {
  font-size: 14pt;
  text-decoration: none;
  color: black;
}
.header a:hover{
  color: white;
}

.errorText {
  display: table;
  margin: 0 auto;
  color: red;
  background-color: orange;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px
}

.impressum {
  float: left;
}
footer {
  padding: 20px;
  background: aquamarine;
  font-size: 14pt;
  text-align: right;
}

.err {
  color: red;
  border: 2px solid;
  border-radius: 10px;
  border-color: red;
}
.err:focus {
  border-color:coral;
}

ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
  margin: 5px;
}
p{
  font-size: 8pt;
}
.submit{
  align-self: flex-end;
  padding: 10px;
  background-color: aquamarine;
  border: 1px;
}
.submit:hover{
  background-color:rgb(26, 241, 170);
}
.wrapper{
  display: flex;
}
.form-row {
  width: 100%;
}

.userLst{
  display: flex;
  list-style: none;
}
.userLst p {
  padding: 5px;
  font-size: 14pt;
  width: 100%;
}

.userLst td {
  margin: 5px;
  font-size: 14pt;
  width: 100%;
}

.userLst form input {
  margin: 5px;
  font-size: 14pt;
  border-radius: 10px;
  width: 100%;
}