body, html {
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  padding: 20px;
  background: lightskyblue;
  font-size: 32px;
  text-align: right;
}
.header a {
  font-size: 14pt;
  text-decoration: none;
  color: black;
}
.header a:hover{
  color: white;
}

a {
  margin: 5px;
}

.hUsr {
  float: left;
  font-size: 32px;
  font-weight: bold;
}

.errorText {
  display: table;
  margin: 0 auto;
  color: red;
  background-color: orange;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px
}

.impressum {
  float: left;
}
footer {
  padding: 20px;
  background: lightskyblue;
  font-size: 14pt;
  text-align: right;
}