<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MIfahrzentrale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div>
        <article th:insert="~{fragments/kopffuss :: kopf}"></article>
    </div>
    <div class="border">
        <h1 th:if="${userID} == 0">Neues Benutzerprofil...</h1>
        <h1 th:if="${userID gt 0 && userID != null}" th:text="#{benutzerprofil.titel(${userID})}">Benutzerprofil <span th:text="${userID}"></span> bearbeiten...</h1>

        <form th:action="@{#}" th:object="${form}" method="post">

            <input type="hidden" id="userID" name="userID" th:value="${userID}">

            <label th:text="#{benutzer.name}" for="name">Nana</label>
            <input type="text" id="name" name="name" th:field="*{name}" th:errorclass = "err">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name falsch</p>

            <label th:text="#{benutzer.email}" for="email">E-Mail</label>
            <input type="text" id="mail" name="mail" th:field="*{mail}" th:errorclass = "err">
            <p th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">mail falsch</p>

            <label th:text="#{benutzer.passwort}"for="password">Passwort</label>
            <input type="password" id="password" name="password" th:field ="*{password}" th:errorclass = "err">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">mail falsch</p>

            <label th:text="#{benutzer.geburtstag}" for="geburtstag">Geburtstag</label>
            <input type="date" id="geburtstag" name="geburtstag" th:field="*{geburtstag}" th:errorclass = "err">
            <p th:if="${#fields.hasErrors('geburtstag')}" th:errors="*{geburtstag}">mail falsch</p>
            
            <div class="wrapper">
                <div class="form-row">
                    <label th:text="#{benutzer.magich}" for="like">Mag</label><br>
                    <p>(max. <span th:text="${maxwunsch}"></span>)</p>
                    <input type="text" id="like" name="like" th:style="${#lists.size(form.likes) lt maxwunsch ? 'display:block' : 'display:none'}">
                    <ul th:each="e: ${#lists.sort(form.likes)}">
                        <li th:text="${e.toString}"></li>
                    </ul>
                </div>
                <div >
                    <label th:text="#{benutzer.magichnicht}" for="dislike">Mag nicht</label><br>
                    <p>(max. <span th:text="${maxwunsch}"></span>)</p>
                    <input type="text" id="dislike" name="dislike" th:style="${#lists.size(form.dislikes) lt maxwunsch ? 'display:block' : 'display:none'}">
                    <ul th:each="e: ${#lists.sort(form.dislikes)}">
                        <li th:text="${e.toString}"></li>
                    </ul>
                </div>
            </div>
            <input class="submit" type="submit" value="Ok">
        </form>
    </div>
    <div>
        <article th:insert="~{fragments/kopffuss :: fuss}"></article>
    </div>
</body>
</html>