<html>
    <head>

    </head>
    <body>
        <header th:fragment="kopf">
            <div class="header">
            <a th:href="@{/benutzer}" class="hUsr" th:text="#{kopf.benutzer}">Benutzer</a>
            <a th:href="@{/ort}" class="hUsr" th:text="#{kopf.orte}">Ort</a>
            <a th:href="@{/tour}" class="hUsr" th:text="#{kopf.touren}">Touren</a>
            <a th:href="@{?sprache=de}">DE</a>
            <a th:href="@{?sprache=nl}">NL</a>
            <a th:href="@{?sprache=en}">EN</a>
        </div>
        <div th:if="${info != null and info != ''}">
            <span th:text="${info}" class="errorText">Fehlermeldung...</span>
        </div>
        </header>
        <footer th:fragment="fuss">
            <a class="impressum" th:text="#{fuss.impressum}">Impressum</a>
            <a th:text="#{fuss.kontakt}">Kontakt</a>
        </footer>
    </body>
</html>