<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MIfahrzentrale</title>
</head>

<body>
    <div>
        <form>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" >
        </form>
        <form>
            <label for="mail">E-Mail</label>
            <input type="text" id="mail" name="mail" >
        </form>
        <form>
            <label for="password">Passwort</label>
            <input type="text" id="password" name="password" >
        </form>
        <form>
            <label for="birthdate">Geburtstag</label>
            <input type="text" id="birthdate" name="birthdate" >
        </form>
        <form>
            <label for="like">Mag</label>
            <input type="text" id="like" name="like" >
        </form>
        <form>
            <label for="dislike">Mag nicht</label>
            <input type="text" id="dislike" name="dislike" >
        </form>
        <form>
            <input class="submit" type="submit" value="Ok">
        </form>
    </div>
    <link rel="stylesheet" href="style.css">
</body>
</html>