<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MIfahrzentrale</title>
</head>

<body>
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" >
        <label for="mail">E-Mail</label>
        <input type="text" id="mail" name="mail" >
        <label for="password">Passwort</label>
        <input type="text" id="password" name="password" >
        <label for="birthdate">Geburtstag</label>
        <input type="text" id="birthdate" name="birthdate" >
        <label for="like">Mag</label>
        <input type="text" id="like" name="like" >
        <label for="dislike">Mag nicht</label>
        <input type="text" id="dislike" name="dislike" >
        <input type="submit" value="Ok">
    </form>
</body>
</html>