<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MIfahrzentrale</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div>
        <h1>Benutzerprofil <span th:text="${userID}"></span> bearbeiten.</h1>

        <form action="#" th:action="@{#}" th:object="${form}" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" th:value="${form.name}" required>
            <label for="email">E-Mail</label>
            <input type="mail" id="mail" name="mail" th:value="${form.mail}" required>
            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" th:value="${form.password}" required>
            <label for="birthdate">Geburtstag</label>
            <input type="date" id="birthdate" name="birthdate" th:value="${form.birthdate}" required>
            <div class="wrapper">
                <div class="form-row">
                    <label for="like">Mag</label><br>
                    <p>(max. <span th:text="${maxwunsch}"></span>)</p>
                    <input type="text" id="like" name="like" th:name="like">
                    <ul th:each="e: ${form.likes}">
                        <li th:text="${e.toString}"></li>
                    </ul>
                </div>
                <div >
                    <label for="dislike">Mag nicht</label><br>
                    <p>(max. <span th:text="${maxwunsch}"></span>)</p>
                    <input type="text" id="dislike" name="dislike" th:name="dislike">
                    <ul th:each="e: ${form.dislikes}">
                        <li th:text="${e.toString}"></li>
                    </ul>
                </div>
            </div>
            <input class="submit" type="submit" value="Ok">
        </form>
    </div>
</body>
</html>