<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MIfahrzentrale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div>
        <article th:insert="~{fragments/kopffuss :: kopf}"></article>
    </div>

    <div class="border">
        <h1 th:text="#{ortsliste.titel}"></h1>
        <ul th:each="ort : ${ortList}">
            <li class="userLst">
                <p th:text="${ort.id}"></p>
                <p th:text="${ort.name}"></p>
                <p th:text="${ort.geobreite}"></p>
                <p th:text="${ort.geolaenge}"></p>
                <a th:href="|https://www.openstreetmap.org/#map=14/${ort.geobreite}/${ort.geolaenge}|" target="_blank">Karte</a>
                <form th:action="@{'/admin/ort/' + ${ort.id}}" method="get">
                    <input class="submit" type="submit" th:value="#{ortsliste.eintrag.bearbeiten}">
                </form>
                <form th:action="@{'/admin/ort/' + ${ort.id} + '/del'}" method="get">
                    <input class="submit" type="submit" th:value="#{ortsliste.eintrag.loeschen}">
                </form>
            </li>
        </ul>
        <form th:action="@{'/admin/ort/0'}">
            <input class="submit" type="submit" th:value="#{ortsliste.neu}">
        </form>
    </div>

    <div>
        <article th:insert="~{fragments/kopffuss :: fuss}"></article>
    </div>
</body>
</html>